.contenedor_padre{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}


.title {
  color: white;
  font-size: 18px;
}
.Nav_Button {
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  
 
}

.bottons {
  display: flex;
 gap: 7px;

}

.menu{
  display: flex;
  justify-content: center;
  gap: 7px;
  height: 20px;
  align-items: center;
  border: 2px solid rgb(20, 5, 44);
  border-radius: 40px;
  width: 370px;
  height: 40px;
  
}

button{
  border: 3px solid rgb(141, 74, 19);
 
  width: 110px;
  height: 37px;
  
}

.total {
  justify-content: end;
  text-align: end;
}

 .header {
  background-image: url("./assets/img/delicious-pepperoni-pizza-stockcake.jpg");
  background-color: rgb(100, 100, 100);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
 color: white;
  font-weight: 600;
}

.subtitulo {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.pizzas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fr);
  row-gap: 35px;
  
  justify-content: center;
  padding: 30px;
  background-image: url('../src/assets/img/IMG-20240729-WA0039\(1\).jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  
}



.cardPizza {
  display: block;
  position: relative;
  text-align: center;
  padding: 10px;
  width: 380px;
  color: white;
  background: linear-gradient(45deg, #960b0b, #bdc01b, #413fb8 ) ;
  border-top-left-radius: 10%;
  overflow: hidden;
 
}

.cardPizza > div{
  border-top-left-radius: 10%;
  padding: 10px;
  
  background-clip: padding-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3{
  font-size: 24px;
}

h4{
  font-size: 20px;
}
p{
  font-size: 18px;
}



.pizzaImg {
  height: 300px;
  width: 100%;
  border-top-left-radius: 10%;
 
}

.tittleCard {
  text-align: start;
  padding-left: 12px;
}
.precio {
  font-size: 19px;
  font-weight: 600;
}

.botones {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.añadir {
  background-color: black;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#30303d;
  color: aliceblue;
  gap: 12px
  
}

.containerForm{
  display: flex;
  flex-direction: column;
  text-align: center;
}



.pizzaCart{
 
width: 300px;
 justify-content: center;
 text-align: center;
 background-color:darkslategray;
 border: 2px solid goldenrod;
 
}

.pizzaImgCart{
  height: 250px;
  width: 100%;
}

h3, p{
  color: white;
}
.contadorPizza{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.disminuir{
  width: 30px;
  background-color: #960b0b;
  color: white;
}

.incrementar{
  width: 30px;
  background-color: green;
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
 
}
